NEXT_PUBLIC_SUPABASE_URL=https://bgfirarkmwagtujkdnes.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_6YGqP_mHL0Y5YFm9HwzUkA_l06mhAFH
NEXT_PUBLIC_APP_URL=http://localhost:3000
SUPABASE_SECRET_KEY=
DEMO_PROVIDER_EMAIL=
DEMO_PROVIDER_PASSWORD=
REENTRY_DEMO_MODE=0
